---
// import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="h-svh mx-4">
		<section class="h-1/2">
			<div class="grid grid-cols-3 grid-rows-1 gap-4 h-full pt-4">
				<div
					class="row-span-2 bg-zinc-500 flex flex-col justify-end font-thin items-center"
				>
					<h1 class="text-8xl">
						Think better
						<br />
						with <span class="italic">Armor</span>
					</h1>
				</div>
				<div class="row-span-2 bg-lime-400">2</div>
				<div class="row-span-2 bg-cyan-400">3</div>
			</div>
		</section>
		<section class="h-1/2">
			<div class="h-full relative rounded-4xl py-4">
				<video
					class="z-0 h-full w-full object-cover select-none rounded-4xl"
					preload="true"
					autoplay
					loop
					muted
				>
					<!-- <source src="./video/bg-velada.mp4" type="video/mp4"> -->
					<source src="./videos/bg1.mp4" type="video/mp4" />
					<!-- <source src="./video/bg-velada.webm" type="video/webm"> -->
					<source src="./videos/lavelda.webm" type="video/webm" />
					Your browser does not support the video tag 🥲.
				</video>
			</div>
		</section>
	</div>
</Layout>
