---

---

<div class="flex flex-col justify-end font-light items-center">
    <h1 class="text-7xl">
        Think better
        <br />
        with <span class="italic">Armor</span>
    </h1>
</div>
